body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    margin: 60px 0;
}

.the-output {
    display: inline-block;
    margin: auto;
    min-width: 350px;
    height: 20px;
    line-height: 20px;
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
}

form {
    margin: 60px 0;
}

form > div {
    margin-top: 40px;
}

label {
    display: block;
    margin: 10px 0;
}

button {
    font-size: 1.6em;
    margin: 40px 0;
    padding: 10px 30px;
}

button[type="button"] {
    display: block;
    margin: auto;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.7em;
    outline: none;
}

input[type="number"] {
    width: 50px;
}

.copy-output {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: all .15s;
    background: #353535;
    color: white;
    font-size: 11px;
    padding: 5px 8px;
    border-radius: 6px;
}

.copy-output:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #353535;
}

.copied .copy-output {
    visibility: visible;
    opacity: 1;
}